In [31]:
import requests
import pandas as pd
import io

In [32]:
url='https://data.diversitydatakids.org/files/COI/COI20/raw/raw.csv'

In [34]:
r = requests.post(url)

In [36]:
df=pd.read_csv(io.StringIO(r.text), sep=',')

In [37]:
df.head()

,geoid,year,in100,msaid15,msaname15,countyfips,statefips,stateusps,pop,ED_APENR,...,HE_SUPRFND,HE_RSEI,SE_POVRATE,SE_PUBLIC,SE_HOME,SE_OCC,SE_MHE,SE_EMPRAT,SE_JOBPROX,SE_SINGLE
0,1001020100,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,424,0.349463,...,-13.815511,5.933720,9.240363,14.398734,84.335442,27.972027,60321.0,68.187744,5.224787,17.256638
1,1001020100,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,414,0.252991,...,-13.815511,7.015026,10.677506,12.068965,75.198936,38.479000,67826.0,82.987556,1.052632,26.556019
2,1001020200,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,497,0.350239,...,-13.815511,6.083863,10.511090,13.028169,58.568073,40.000000,44039.0,59.521217,1.727862,48.818897
3,1001020200,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,508,0.253207,...,-13.815511,7.306938,22.413794,24.137930,61.941254,30.516430,41287.0,60.339661,0.931315,47.470818
4,1001020300,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,878,0.349768,...,-13.815511,6.162114,11.823454,9.035088,76.315788,31.036932,46002.0,82.875099,1.788375,31.969309